.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    padding: 10px 20px;
    height: 5vh;
  }
  
  .logo {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar li {
    margin-left: 20px;
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }
  
  .navbar a:hover {
    opacity: 0.8;
  }
  